{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/login.css' %}" >
</head>
<body>

<section>
  <h2>SHOPPING D&J</h2>
</section>

<div class="bg-img" style="background: -webkit-linear-gradient(90deg, yellow 10%, orange 90%)">
  <form action="/action_page.php" class="container">
    <h1 class ="titulo">Iniciar sesión</h1>

    <label for="email"><b>Correo</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Contraseña</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Login</button>
  </form>
</div>
<script src="{% static 'js/loguin_app.js' %}"></script> 
</body>
</html>